:root {
    --blueL: #115699;
    --skyBlueL: #19688f;
    --redL: #f2555c;
    --darkRedL: #b82f3f;
    --greenL: #28bf12;
    --yellowL: #ffff3f;
    --white: #ffffff;
  }
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'IBM Plex Sans', sans-serif;
 
    scroll-behavior: smooth;
}
#dark-logo{
    background-image: url("./img/transparent-logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}
#logo{
    background-image: url("./img/logo/logo.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
header{
    filter: drop-shadow(2px 1px 5px grey);
    background: white;
}
#navbar-one{
    padding: 20px;
    position: fixed;
    background: white;
    width:100%;
    top:0; 
    /* box-shadow: 7px 2px 5px 2px grey; */
}
#navbar-mobile{
    display:none;
}
nav{
    transition: 2s;
    height:100vh !important; 
    width:500px;
    position: fixed;
    right:0;
    z-index:100000;
    background: rgba(255, 255, 255, 01);
    padding:10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a{
    text-decoration: none;
}
.active{
    background-color: #232230;
}
.nav-item:hover .underline{
    background: white;
} 
.nav-item.active:hover svg#home-icon {
    fill:var(--white) !important;
    /* transform: translateX(20px); */
}
.nav-item:hover{
    background-color: #232230;
    color:aliceblue !important;
}
.nav-item:hover a{
    background-color: #232230;
    color:aliceblue !important;
}
.nav-item{
    /* background: chartreuse; */
    padding:20px;
    display: flex;
    margin-bottom:8px;
    flex:1;
}
.grey-overlay{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(197, 196, 209, 0.5);
    z-index: 10000;
}
nav .nav-link a:hover{
    text-decoration: none !important;
}
.nav-link a:hover nav .underline{
    color:white;
}
.nav-link{
    flex:3;
}
.icon-container{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}
.underline{
    height:2px;
    width:26px;
    background: var(--blueL);
}
#about-us h1{
    color:var(--blueL);
}
.carousel-control-next-icon , .carousel-control-prev-icon{
    fill: var(--blueL);
    color:var(--blueL);
    background-color: var(--blueL);
}
#carousel-img-2{
    /* background-color: var(--darkRedL); */
    background-image: url('./img/heavy-gcdf218835_1920.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}
#carousel-img-1{
    /* background-color: var(--yellowL); */
    background-image: url('./img/asphalt-g65e031c27_1920.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}
.banner{
    height:95vh;
    background-position: center;
    background-size: cover;
    background-color: var(--greenL);
    /* background-image: url("./img/pexels-expect-best-323780.jpg"); */
}
.phone{
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blueL);
    border: 1px solid rgba(197, 196, 209, 0.5);
    z-index: 1000;
    border-radius: 50%;
}
.phone:hover{
    color: var(--blueL);
}
.phone:hover .phone > svg{
    fill: var(--blueL) !important;
}
.nav-btn{
    padding: 20px;
    border: 1px solid black !important;
    /* background: white; */
    width: 66px;
    height: 66px;
    background: url(./img/Logo.jpeg);

}
/* .nav-btn:hover{
    background: black;
}
.nav-btn:hover .nav-line{
    background: white;
}
.nav-line{
    height:2px;
    background-color: black;
    width:18px;
    margin-bottom: 5px;
} */
main{
    padding:5px;
}
footer a:hover{
    text-decoration: none;
}
img.carousel-image{
    object-fit: cover;
    width:100%;
    height:100%;
}
#intro-word > h5{
    transform: translateY(-15px);
}
.box{
    position: absolute;
    left:50px;
    bottom: 0;
    height:80px;
    /* background-color: #115699; */
    background-image:url("./img/pexels-bidvine-1249611.jpg");
    background-position: center;
    background-attachment: fixed;
    width:90%;

}
.box-0{
    position: absolute;
    left:50px;
    top: 200px;
    height:80px;
    /* background-color: #115699; */
    background-image:url("./img/milivoj-kuhar-Te48TPzdcU8-unsplash.jpg");
    background-position: center;
    background-attachment: fixed;
    width:90%;

}
#about-us p{
    width: 60%;
}
#about-us{
    height: 75vh;
    position: relative;
    padding: 16px;
}
#intro-word{
    height: 30vh;
    /* background-color: #acb6c8; */
    background-color: var(--greenL);
    /* transform: translateY(-15vh); */
    padding:35px;
}
.text-center > span{
    color:var(--blueL);
    font-weight: bold;
}
#intro-word , #quote-btn{
    /* background-color: aqua; */
    position: relative;
    margin: auto !important;
}

#parralax-box{
    height: 20vh;
    background: transparent;
}
#about-us{
    background: rgba(255, 255, 255, 0.8);
}
.about-img-1{
    width: 90%;
    height: 350px;
    background-image: url("./img/pexels-photo-1216589.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.about-img-2{
    width: 90%;
    height: 350px;
    background-image: url("./img/istockphoto-1139489459-612x612.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.line , .line-1 ,.line-2{
    height: 2px;
    background: var(--blueL);
    width: 95%;
}
.line-1{
    transform: rotate(45deg);
}
.line-2{
    transform: rotate(-45deg);
}
.hidden{
    display:none;
}
.logo{
    width: 220px;
    height: 220px;
    background: url("./img/Logo.jpeg");
    background-position: center;
    background-size: cover;
    /* background-color: violet; */
}
.fixed-btn {
    background: url(./img/Logo.jpeg);
    width: 100px !important;
    height: 100px !important;
}
.fixed-btn , .fixed-x{
    position: fixed;
    padding:5px;
    width: 60px;
    cursor: pointer;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgb(194, 183, 183);
     */
    background-position: center;
    background-size: cover;
    box-shadow: 1px 2px 3px 2px rgba(197, 196, 209, 0.5);
    border: 1px solid rgba(197, 196, 209, 0.5);
    border-radius: 4px;
    z-index:10000;
    right: 25px;
    top:25px;
}
#logo{
    background: url(./img/Logo.jpeg);
    /* background: cover center; */
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    margin: auto;
}
.skew{
    width: 600px;
    height: 600px;
    background-color: pink;
    transform: rotateZ(
-39deg) translateX(-50px) translateY(-485px);
    position: absolute;
}
#view-all{
    /* width:150px; */
    border:none;
    margin-right:35px;
    display: block;
    padding:20px 50px;
    background-color: rgb(87, 87, 139);
    /* transform: translateY(-10vh); */
    border:none;
}
#quote-btn{
    display: block;
    padding:20px 50px;
    background-color: #acb6c8;
    transform: translateY(-10vh);
    border:none;
}
#quote-btn:hover , #view-all:hover , #quote-btn-2:hover{
    /* opacity: 0.8; */
    filter: invert(2px);
    background-color: #232230;
    transition: 1.5s;
} 
#quote-btn-2{
    display: block;
    padding:20px 50px;
    background-color: #acb6c8;
    /* transform: translateY(-10vh); */
    border:none;
}
#google-reviews{
    margin-bottom: 10px;
}
.restoration-image-1 button , 
.restoration-image-2 button , 
.restoration-image-3 button , 
.restoration-image-4 button{
    z-index: 10000;
    color:white !important;
    font-size: 32px;
}
/* .restoration-image-1:hover , 
.restoration-image-2:hover , 
.restoration-image-3:hover , 
.restoration-image-4:hover{
    transform: scale(0.9);
    transition: 2s;
} */
.hidden-row{
    display:none;
}
#hide-row{
    transition: 2s;
    position: relative;
}
.restoration-image-1 , 
button.restoration-image-2 , 
.restoration-image-3 , 
.restoration-image-4 ,.restoration-image-5 ,.restoration-image-7 {
    transition: 2s;
    width:100%;
    height:425px;
    background-color: burlywood;    
    /* filter: drop-shadow(2px 4px 6px grey); */
    backdrop-filter: brightness(1px);
    background-position: center;
    background-size: cover;
    /* transform: scale(1); */
    /* margin-bottom: 25px; */
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    /* box-shadow: inset 0px -50px 50px 0px rgb(54 54 54); */
    /* box-shadow: inset 0px 0px 30px 30px rgb(54, 54, 54); */
    padding:35px;
}
#services{
    position: relative;
}
.restoration-image-1{
    background-image: url("./img/pexels-ksenia-chernaya-5691518.jpg");
}
.restoration-image-2{
    background-image: url("./img/istockphoto-1148761750-612x612.jpg");
}
.restoration-image-3{
    background-image: url("./img/istockphoto-607775824-612x612.jpg");
}
.restoration-image-4{
    background-image: url("./img/s-l800\ \(2\).jpg");
}
.restoration-image-5{
    background-image: url("./img/Water-Proofing.jpeg");
}
.restoration-image-7{
    background-image: url("./img/istockphoto-485084054-170667a.jpg");
}
.service-img-1 , .service-img-2 , .service-img-3 , .service-img-4{
    width:350px;
    height: 250px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    /* height:100%; */
    /* background-color: chartreuse; */
}
.gallery-img-0{
    background-image:url("./img/IMG-20210827-WA0007.jpg");
}
.gallery-img-00{
    background-image:url("./img/IMG-20210827-WA0010.jpg");
}
.gallery-img-1{
    background-image:url("./img/IMG-20210827-WA0004.jpg");
}
.gallery-img-2{
    background-image:url("./img/IMG-20210827-WA0011.jpg");
}
.gallery-img-3{
    background-image:url("./img/6f1e7eb2a755460694e76a05b7785e2d.jpg");
}
.gallery-img-4{
    background-image:url("./img/4549.jpg");
}
.gallery-img-5{
    background-image:url("./img/IMG-20200615-WA0004.jpg");
}
.gallery-img-6{
    background-image:url("./img/images.jpg");
    background-size: contain !important;
}
.gallery-img-1 , .gallery-img-2 , .gallery-img-0 , .gallery-img-00 , .gallery-img-3 , .gallery-img-4 , .gallery-img-5 , .gallery-img-6{ 
    height: 350px;
    background-size: cover;
    background-position: center;
    margin:10px 0px;
    background-repeat: no-repeat;
    width: 100%;
}
.card {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    width: 100%;
    height: 100%;
    /* margin: -150px; */
    /* float: left; */
    perspective: 500px;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front,
  .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: white;
    /* line-height: 300px; */
    color: var(--blueL);
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back {
    background: #03446A;
    color: white;
    transform: rotateY( 180deg );
  }
  .back > img{
    width: 100%;
    height: 100%;
    background-color: var(--blueL);
    object-fit: contain;
  }
  .carousel-item > img{
      width: 100%;
      height: 100%;
      object-fit: contain !important;
  }
.property-type{
    height:250px;
    padding:48px;
}

.brand-item img{
    object-fit: cover;
    width:100%;
    object-position: center;
}
.brand-item{
    width:240px;
    height: 160px;
    box-shadow: inset 0px -50px 50px 0px rgb(54 54 54);
    background-color: brown;
}
.footer-column{
    width:120px;
    height: 26px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    /* background-color: violet; */
}
.footer-column:hover{
    transform: translateX(16px);
    transition: 1.2s;
    border-bottom: 1px solid white;
}
footer{
    background-color: var(--blueL);
    height:auto;
    color:white !important;
    /* padding:10px; */
}
footer a{
    color:white !important;
}
/* footer .col-md-3{
    margin-bottom: 22px;
} */
.site-map{
    margin-top: 20px;
}
footer label{
    font-size: 18px;
    font-weight: 600;
}
footer .row{
    padding-top:50px ;
}
footer .copyright{
    margin: 30px !important;
    color:white !important;
}
.wave-shadow{
    width: 100%;
    height: 100%;
    background: rgb(17,86,153);
    background: linear-gradient(0deg, rgba(17,86,153,1) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
}
.line{
    height: 0px;
    width: 93%;
    box-shadow: 1px 2px 1px 1px grey;
    margin: auto;
    border-radius: 138px;
    background-color: gray;
}
/* .line{
    height: 2px;
    width:90%;
    margin: auto;
    border-radius: 20px;
    background-color: gray;
} */
#testimonies{
    height:100vh;
    background:#acb6c8;
}
#fix-your-home{
    height:65vh;
    background-image: url("./img/pexels-expect-best-323780.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;    
    background-position: center;
    /* background-size: contain; */
}
#fix-your-home > div{
    background-color: rgba(255, 255, 255, 0.8);
}
.star{
    background-image: url('./img/star.png');
    background-size: cover;
    height:25px;
    width:25px;
}
footer section h1{
    font-size:65px;
}
.half-star{
    background-image: url('./img/rating.png');
    background-size: cover;
    height:25px;
    width:25px; 
}
.testimony-icon{
    /* height:15%; */
    background-color: white;
}
.testimony-wording{
    height:50%;
    padding: 20px;
    /* background-color: grey; */
}
.testimony-name{
    padding: 10px 20px;
}
.rating{
    height: 5%;
    padding:10px 20px;
    /* background-color: steelblue; */
}
.swiper {
    margin: 100px auto;
    width: 320px;
    height: 240px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    height: 60vh;
  }

  /* .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  } */
/* SLider */
/* ////////////////////////////////////////// */

/* ////////////////////////////////////////// */
@media (max-width:900px) {
#about-us{
    height: auto;
}
    #about-us p{
        width: 70%;
        text-align: center;
    }
    #navbar-one{
        padding: 20px;
        /* box-shadow: 7px 2px 5px 2px grey; */
        display:none;
    }
    #navbar-mobile{
        display:flex;
        position: fixed;
        width:100%;
    background: white;
    z-index: 10000;
        top:0; 
    }
    #dark-logo{
        margin-left: 25px;
    }
    nav .collapse a {
        margin-top: 10px;
    }
    .nav-btn{
        display: flex !important;
        z-index: 10000;
        position: fixed;
        left:0;
        right:0;
    }
    .restoration-image-1 , 
.restoration-image-2 , 
.restoration-image-3 , 
.restoration-image-4{
    transition: 2s;
    /* width:270px !important; */
    height:350px;
}
    #quote-btn{
        transform: translateY(-5vh);
    }
    .brand-item{
        width:220px;
        height: auto;
    }
    .brand-item > img {
        width: 100%;
    }
    #intro-word{
        padding:10px;
        height: 25vh;
    }
    .service-image , .brand-item{
        margin-top:20px;
    }
}